@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Azeret';
    src: url('/AzeretMono-Regular.ttf');
}
@font-face {
    font-family: 'Monument';
    src: url('/PPMonumentExtended-Regular.ttf');
}

.font-monument {
    font-family: 'Monument';
}

.font-all-font-family {
    font-family: 'Azeret';
}
.text-all-font-size {
    font-size: 12px;
}
.font-big-font-family {
    font-family: 'Azeret';
}
.text-big-font-size {
    font-size: 16px
}

@media (max-width: 600px) {
    .cursor {
        display: none !important;
    }
    .key-code {
        display: none;
    }
    .text-all-font-size {
    font-size: 10px;
}
.text-big-font-size {
    font-size: 14px;
}

}

.main-container {
    height: 199px !important;
}

.alpha-selector, .color-info-box {
    display: none !important;
}

h1 {
    font-size: 15vw;
    line-height: 75%;
    letter-spacing: -2vw;
} 

.button-submit {
    transition: .3s opacity;
}

.button-submit:hover {
    opacity: 1 !important;
}

.draw-link {
    opacity: 0;
    animation: fadeIn 1s forwards 1s;
}

@keyframes fadeIn {
    100% {opacity: 1;}
}

